<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources

@*@{
    ViewBag.Title = Resource.App_Name;
}*@

@*<h1>@ViewBag.Title</h1>
<h2>@Resource.Error_Introduction</h2>*@

<div class="alert alert-success">Microsoft Graph API is successfully authenticated. Please go to OneDrive and try again</div>